body {
  background: linear-gradient(to left, #00ffff, #8a2be2);
  margin: 0;
}
input[type="checkbox"] {
  margin-left: 0;
}
.form-card {
  margin: auto;
  width: 25%;
  padding: 20px;
  margin-top: 50px;
  background-color: white;
  border: solid #00ffff;
  border-radius: 20px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.row-input-container {
  display: flex;
  gap: 20px;
}
.input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.form-footer-container {
  display: flex;
  justify-content: space-between;
}
.checkbox-container {
  display: flex;
}
.send-button {
  padding: 5px;
  background: linear-gradient(to left, #00ffff, #8a2be2);
  border: none;
  border-radius: 5px;
  color: white;
}
.save-button {
  padding: 5px;
  background: #eaebec;
  border: none;
  border-radius: 5px;
  color: black;
}
