.flex-container {
  display: flex;
  border: solid black;
  margin-bottom: 50px;
}
.column1 {
  flex-grow: 1;
}
.column2 {
  flex-grow: 2;
}
.box {
  background-color: aquamarine;
  padding-right: 50px;
  padding-bottom: 50px;
  margin: 5px;
}
