body {
  margin: 0;
  height: 100vh;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  background-color: #dcdcdc;
  margin: auto;
  height: 80%;
}
.row-item {
  width: 40%;
}
.box-flex-container {
  display: flex;
}
.box-flex-container-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.box {
  width: 100%;
  background-color: #6495ec;
  margin: 2px;
  aspect-ratio: 1/1;
}
